@import "tailwindcss";
@import "@nuxt/ui";

/* Apply IBM Plex Sans Thai font globally */
* {
  font-family: "Kanit", sans-serif !important;
}

html,
body {
  font-family: "Kanit", sans-serif !important;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Custom animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.6s ease-out;
}

/* เปลี่ยนให้ทุกปมุ่เป็น cursor pointer */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
[role="button"],
.btn,
summary {
  cursor: pointer;
}
